@use "../../theme.scss" as *;

.bar {
  background-color: $bg-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border : 2px solid $fg-color;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: $border-radius;
}

.workspace-container {
  padding: 0.5rem 0.75rem;
}

.workspace-button {
  border-radius: 9999px;
  min-width: 0.65rem;
  min-height: 0.65rem;
  padding: 2px;
  font-size: 0.8rem;
  line-height: 1;

  transition: min-width 0.25s ease-out;

  &.occupied {
    background-color: $fg-color;

    &.active{
      min-width: 2.5rem;
    }
  }

  &.active {
    min-width: 2.5rem;
  }
}

.datetime {
  color: $fg-color;
  margin-right: 0.5rem;
  font-family: 'sans-serif';
  font-weight: bold;
}